In [4]:
import numpy as np

In [5]:
a = [1, 3, 2, 1, 2, 1, 1]

In [6]:
b = [7, 0, 2, 1, 0, 0, 1]

In [7]:
a = np.array(a)

In [8]:
b = np.array(b)

In [9]:
a.dot(b)

13

In [10]:
c = [1, 7, 0, 0, 2, 0, 1]

In [11]:
c = np.array(c)

In [12]:
a.dot(c)

27

In [13]:
d = [1, 0, 0, 0, 7, 1, 2]

In [14]:
d = np.array(d)

In [15]:
a.dot(d)

18

In [16]:
e = [0, 2, 0, 0, 7, 1, 1]

In [17]:
e = np.array(e)

In [18]:
a.dot(e)

22

In [19]:
import graphlab

## Read Data

In [20]:
people = graphlab.SFrame('people_wiki.gl/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1510949564.log

This non-commercial license of GraphLab Create for academic use is assigned to lwei48@wisc.edu and will expire on October 09, 2018.

In [32]:
people.head(3)

Columns:
	URI	str
	name	str
	text	str

Rows: 3

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Digby Morrell  |
| <http://dbpedia.org/resour... | Alfred J. Lewy |
| <http://dbpedia.org/resour... | Harpdog Brown  |
+-------------------------------+----------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
+-------------------------------+
[3 rows x 3 columns]

In [22]:
len(people)

59071

## Explore the dataset and checkout the text

In [38]:
clooney = people[people['name'] == 'George Clooney']

In [39]:
clooney

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | George Clooney |
+-------------------------------+----------------+
+-------------------------------+
|              text             |
+-------------------------------+
| george timothy clooney bor... |
+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [40]:
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

### words count

In [42]:
clooney['word_count'] = graphlab.text_analytics.count_words(
    clooney['text'])

In [43]:
clooney

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | George Clooney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| george timothy clooney bor... | {'all': 1, 'peace': 1, 'pr... |
+-------------------------------+-------------------------------+
[1 rows x 4 columns]

## Sort word count

In [44]:
clooney_word_count_table = clooney[['word_count']].stack(
    'word_count', new_column_name = ['word', 'count'] )

In [45]:
clooney_word_count_table.head(3)

Columns:
	word	str
	count	int

Rows: 3

Data:
+---------------+-------+
|      word     | count |
+---------------+-------+
|   relations   |   1   |
|     member    |   1   |
| international |   1   |
+---------------+-------+
[3 rows x 2 columns]

In [46]:
clooney_word_count_table.sort('count', ascending = False)

Columns:
	word	str
	count	int

Rows: 239

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   35  |
| and  |   15  |
|  of  |   14  |
|  in  |   14  |
| for  |   13  |
|  he  |   9   |
|  a   |   9   |
| his  |   8   |
|  as  |   7   |
|  is  |   5   |
+------+-------+
[239 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Compute TF-IDF for the corpus

In [59]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [60]:
people.head(3)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 3

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Digby Morrell  |
| <http://dbpedia.org/resour... | Alfred J. Lewy |
| <http://dbpedia.org/resour... | Harpdog Brown  |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
+-------------------------------+-------------------------------+
[3 rows x 4 columns]

In [61]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [62]:
people['tfidf'] = tfidf['docs']

IndexError: Invalid type to use for indexing