In [3]:
import scipy.stats as st
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import multivariate_normal

In [7]:
pwd

u'/Users/janinewei/Documents/GitHub/Data-Science-with-Python'

In [20]:
data = pd.read_csv('Data/Econ435.csv', usecols = ["PS1","PS2","PS3","Midterm1","Midterm2"])

In [21]:
data.head(3)

    PS1   PS2   PS3  Midterm1  Midterm2
0  10.0  10.0  10.0        51      54.0
1   9.5  10.0   8.0        48      56.0
2   NaN   NaN   NaN        30      56.0

In [22]:
data.describe()

             PS1        PS2        PS3   Midterm1   Midterm2
count  37.000000  35.000000  37.000000  40.000000  40.000000
mean    9.027027   8.914286   9.297297  40.025000  51.537500
std     0.841179   1.010865   1.076643  10.622877   6.567585
min     7.000000   8.000000   6.000000  19.000000  33.000000
25%     8.500000   8.000000   8.000000  30.750000  48.750000
50%     9.000000   8.000000  10.000000  41.000000  54.000000
75%    10.000000  10.000000  10.000000  48.000000  56.000000
max    10.000000  10.000000  10.000000  59.000000  60.000000

In [44]:
data

       Name score                 words
0   Deshawn  3421  urxssckvpjlkvgjtuupy
1     Irene  4122  gvxcconryjuuancxnjne
2    Kamden  2100  isvvysvsghxveggcvbtb
3    Jaylah  0142  ishjknrkycvifsysiugo
4    Aryana  2201  tjfucaedndkjnaaxqcgk
5    Jorden  0121  davhmousydeqjhkvbdhv
6    Tenley  2053  ijyumwmrnkdbolqhfwwb
7   Quentin  4501  draajvhkhspukterfcxm
8   Terrell  1220  tnallthkodzjdvhqmedj
9    Conner  3200  moybfvxrpdkgtrznjvcd
10    Simon  3253  qiszqetptobpynxaebnu
11    Halle  1522  xenbicjxnhwcxcwrajpu
12    Leyla  4252  ghntkmvhajtubepbrmxy
13    Lylah  3430  lcpnskmxswcasuqzaavm
14  Cynthia  3123  dkdcstwcgsyjigawxiql
15  Brendon  5210  wpnkeqdnlrptjxbjujvp
16    Miley  3213  mpdtcjzsxnxzkgiwisuv
17    Louis  1530  efwjapjaogperczqvqbc
18    Fiona  1033  imhsjmiqpplmjimfszlj
19    Julio  2533  vhgraneccflmfppmmppz
20   Aurora  3331  wpogizjfzgaelopwllgw
21   Ximena  5321  jqrybhedzsgnsyxzdmju
22  Osvaldo  1111  xzbmenjwwzeuhsvnulkr
23     Kade  2323  woszhcswjimwawwvuily

In [45]:
data['q1'] = data['score'].str[0:1]

In [46]:
data['q2'] = data['score'].str[1:2]

In [47]:
data['q3'] = data['score'].str[2:3]

In [48]:
data['q4'] = data['score'].str[3:4]

In [50]:
data.head()

      Name score                 words q1 q2 q3 q4
0  Deshawn  3421  urxssckvpjlkvgjtuupy  3  4  2  1
1    Irene  4122  gvxcconryjuuancxnjne  4  1  2  2
2   Kamden  2100  isvvysvsghxveggcvbtb  2  1  0  0
3   Jaylah  0142  ishjknrkycvifsysiugo  0  1  4  2
4   Aryana  2201  tjfucaedndkjnaaxqcgk  2  2  0  1

In [53]:
data.dtypes

Name     object
score    object
words    object
q1       object
q2       object
q3       object
q4       object
dtype: object

In [54]:
data['q1'] = pd.to_numeric(data['q1'])

In [55]:
data.dtypes

Name     object
score    object
words    object
q1        int64
q2       object
q3       object
q4       object
dtype: object

In [56]:
data['q2'] = pd.to_numeric(data['q2'])

In [57]:
data['q3'] = pd.to_numeric(data['q3'])

In [58]:
data['q4'] = pd.to_numeric(data['q4'])

In [59]:
data.dtypes

Name     object
score    object
words    object
q1        int64
q2        int64
q3        int64
q4        int64
dtype: object

In [62]:
data['sum'] = data.sum(axis=1)

In [63]:
data

       Name score                 words  q1  q2  q3  q4  sum
0   Deshawn  3421  urxssckvpjlkvgjtuupy   3   4   2   1   20
1     Irene  4122  gvxcconryjuuancxnjne   4   1   2   2   18
2    Kamden  2100  isvvysvsghxveggcvbtb   2   1   0   0    6
3    Jaylah  0142  ishjknrkycvifsysiugo   0   1   4   2   14
4    Aryana  2201  tjfucaedndkjnaaxqcgk   2   2   0   1   10
5    Jorden  0121  davhmousydeqjhkvbdhv   0   1   2   1    8
6    Tenley  2053  ijyumwmrnkdbolqhfwwb   2   0   5   3   20
7   Quentin  4501  draajvhkhspukterfcxm   4   5   0   1   20
8   Terrell  1220  tnallthkodzjdvhqmedj   1   2   2   0   10
9    Conner  3200  moybfvxrpdkgtrznjvcd   3   2   0   0   10
10    Simon  3253  qiszqetptobpynxaebnu   3   2   5   3   26
11    Halle  1522  xenbicjxnhwcxcwrajpu   1   5   2   2   20
12    Leyla  4252  ghntkmvhajtubepbrmxy   4   2   5   2   26
13    Lylah  3430  lcpnskmxswcasuqzaavm   3   4   3   0   20
14  Cynthia  3123  dkdcstwcgsyjigawxiql   3   1   2   3   18
15  Brendon  5210  wpnkeqdnlrptjxbjujvp   5   2   1   0   16
16    Miley  3213  mpdtcjzsxnxzkgiwisuv   3   2   1   3   18
17    Louis  1530  efwjapjaogperczqvqbc   1   5   3   0   18
18    Fiona  1033  imhsjmiqpplmjimfszlj   1   0   3   3   14
19    Julio  2533  vhgraneccflmfppmmppz   2   5   3   3   26
20   Aurora  3331  wpogizjfzgaelopwllgw   3   3   3   1   20
21   Ximena  5321  jqrybhedzsgnsyxzdmju   5   3   2   1   22
22  Osvaldo  1111  xzbmenjwwzeuhsvnulkr   1   1   1   1    8
23     Kade  2323  woszhcswjimwawwvuily   2   3   2   3   20

In [64]:
data.sum(axis=0)

Name     DeshawnIreneKamdenJaylahAryanaJordenTenleyQuen...
score    3421412221000142220101212053450112203200325315...
words    urxssckvpjlkvgjtuupygvxcconryjuuancxnjneisvvys...
q1                                                      58
q2                                                      57
q3                                                      53
q4                                                      36
sum                                                    408
dtype: object

In [65]:
58+57+53+36

204

In [2]:
6.81+8

14.809999999999999

In [1]:
13.76*9.25+3.7*17.36+10*17.36+10*9.25

457.61199999999997

In [1]:
6+7.08+1.75-3.7-2

9.129999999999999

In [1]:
(9.13+5+3)*17.36+23*9.25

510.12680000000006

In [3]:
92.0/(100.0/188)

172.96

In [ ]:
2

In [3]:
mean = [0, 0]
cov = [[1, -0.5], [-0.5, 1]]

In [4]:
x, y = np.random.multivariate_normal(mean, cov, 5000).T

In [5]:
plt.plot(x, y, 'x')

In [7]:
plt.show()

In [20]:
t = ('a', 'b', 'c', 'd', 'e')

In [21]:
type(t)

tuple

In [16]:
st.norm.ppf(.95)

1.6448536269514722

In [8]:
st.norm.cdf(1.64)

0.94949741652589625

In [27]:
st.norm.cdf(18.25)

1.0

In [40]:
a = ((50.0/400.0)-0.1)/(np.sqrt(0.1*0.9/400))

In [41]:
st.norm.cdf(a)

0.95220964772718519

In [44]:
a

1.6666666666666661

In [42]:
50.0/400

0.125

In [43]:
np.sqrt(0.1*0.9/400)

0.015000000000000001

In [7]:
a = 0.97*(0.04**2)+0.03*(0.98**2)

In [8]:
a

0.030364

In [9]:
b = 0.03*(0.98**2)

In [10]:
b

0.028811999999999997

In [11]:
b/a

0.9488868396785667

In [14]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [15]:
df

        one       two     three
a  1.480078  0.023553  1.161431
c -0.359561  0.775614  0.860942
e  0.969852 -0.681149 -0.117053
f  1.977960 -0.116887  1.139708
h  2.183029 -1.446567  0.025748

In [24]:
df['avg'] = df[['one', 'two', 'three']].mean(axis = 1)

In [25]:
df

        one       two     three       avg
a  1.480078  0.023553  1.161431  0.888354
c -0.359561  0.775614  0.860942  0.425665
e  0.969852 -0.681149 -0.117053  0.057216
f  1.977960 -0.116887  1.139708  1.000260
h  2.183029 -1.446567  0.025748  0.254070

In [26]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [27]:
df2

        one       two     three       avg
a  1.480078  0.023553  1.161431  0.888354
b       NaN       NaN       NaN       NaN
c -0.359561  0.775614  0.860942  0.425665
d       NaN       NaN       NaN       NaN
e  0.969852 -0.681149 -0.117053  0.057216
f  1.977960 -0.116887  1.139708  1.000260
g       NaN       NaN       NaN       NaN
h  2.183029 -1.446567  0.025748  0.254070

In [28]:
df2.isnull().any()

one      True
two      True
three    True
avg      True
dtype: bool

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, a to h
Data columns (total 4 columns):
one      5 non-null float64
two      5 non-null float64
three    5 non-null float64
avg      5 non-null float64
dtypes: float64(4)
memory usage: 320.0+ bytes

In [30]:
True in df2.isnull()

False

In [31]:
df3 = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['student_id', 'exam_id', 'grade'])

In [32]:
df3

   student_id   exam_id     grade
a    0.478725 -0.542865  0.781455
c    2.106496  0.537334 -0.013116
e   -0.375723 -0.793454  0.859842
f    0.158713  1.610452 -0.050655
h   -1.435996 -1.444396 -0.908666

In [35]:
data = np.array([['','student_id','exam_id', 'grade'],
                ['Row1',1,1,90],
                ['Row2',3,2,89],
                ['Row3',5,3,84],
                ['Row4',3,4,83],
                ['Row4',5,4,80]])
                
df4 = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

In [36]:
df4

     student_id exam_id grade
Row1          1       1    90
Row2          3       2    89
Row3          5       3    84
Row4          3       4    83
Row4          5       4    80

In [43]:
df4[df4['exam_id'] == 4]

Empty DataFrame
Columns: [student_id, exam_id, grade]
Index: []

In [5]:
mean = [0, 0]

In [6]:
cov = [[1, -0.5], [-0.5, 1]]

In [7]:
cov

[[1, -0.5], [-0.5, 1]]

In [ ]:
x, y = np.random.multivariate_normal(mean, cov, 100).T
plt.plot(x, y, 'x')
plt.axis('equal')
plt.show()

In [1]:
(17.36*(10+6+2.5+1.5)) + 9.25*(6.63+3+5+4)

519.5274999999999

In [4]:
edu = pd.read_csv('Data/FIn305.csv')

In [5]:
edu2 = edu.fillna(99)

In [6]:
edu2[['Midterm']].describe()

          Midterm
count   33.000000
mean   111.454545
std     18.107907
min     62.000000
25%     99.500000
50%    109.500000
75%    124.000000
max    145.000000

In [7]:
edu2.columns = ['CampusID', 'Name', 'Quiz1', 'Quiz2', 'Quiz3', 'Midterm']

In [8]:
edu2

      CampusID                      Name  Quiz1  Quiz2  Quiz3  Midterm
0   9071571039           Aronson,Zachary     10     10     10    115.0
1   9069931419            Austin,Patrick      8      3     10    112.0
2   9074004962            Bachman,Connor     10     10     10    140.0
3   9071159421             Baker,Kathryn     10     10     10     96.0
4   9071159645    Bergevain,Clay Gregory      6     10      6     98.5
5   9072568562               Blanch,Matt     10     10     10    118.0
6   9071753595           Bouse,Bridgette      6      5     10    145.0
7   9071525589           Bruckschen,Eric     10      2      6    122.5
8   9070752069               Case,Philip      8      3      6    100.5
9   9072600449              Coghlan,Erin     10     10     10    124.0
10  9078297877  Donsimoni,Laetitia Marie      9     10     10     88.5
11  9070798021         Garrison,Madeline     10      7     10     99.0
12  9072592034               Grujo,Sanja     10     10     10     97.0
13  9071901210               Hauge,Tyler     10      4     10    129.0
14  9072093298               Hepp,Nicole     10     10     10    128.0
15  9073426810              Hilkert,Eric     10     10     10    109.5
16  9070808531             Kuether,Laine     10      4     10    103.0
17  9071751672         Levy,Matthew Adam     10      4     10    113.5
18  9071350707     Longo,Madeline Claire     10      7     10    100.0
19  9071903182      Mazzara,Jordan Wilke     10     10     10     62.0
20  9071445259              Millard,Joey     10      4     10    106.5
21  9072604060         Nichol,Mark Kevin      8      4     10    140.0
22  9071374996          Nicholson,Calvin      8      5     10    131.5
23  9070397238          Nickels,Benjamin      6     10      5    100.0
24  9079190642             Qian,Chaoyang     10      7      6    130.0
25  9073718547            Reines,Maxwell      7     10     10    102.0
26  9078285468        Ros Callejo,Myriam      8      5     10    117.0
27  9078207603        Sabin Ulloa,Carlos     10      5     10    102.0
28  9071461926            Sauer,Mitchell     10     10      6    141.5
29  9072605414             Stocking,Ryan     10      6     10     98.0
30  9071441308             Stuber,Lauren     10     10     10     99.5
31  9070893319              Tracey,Miles      9      6     10     92.0
32  9069945435           Vandenack,Brett     10      4      6    117.0

In [9]:
edu2.at[27, 'Midterm'] = 112
edu2.at[4, 'Midterm'] = 109.5
edu2.at[12, 'Midterm'] = 99.5
edu2.at[30, 'Midterm'] = 100.5
edu2.at[29, 'Midterm'] = 110
edu2.at[19, 'Midterm'] = 66

In [10]:
edu2

      CampusID                      Name  Quiz1  Quiz2  Quiz3  Midterm
0   9071571039           Aronson,Zachary     10     10     10    115.0
1   9069931419            Austin,Patrick      8      3     10    112.0
2   9074004962            Bachman,Connor     10     10     10    140.0
3   9071159421             Baker,Kathryn     10     10     10     96.0
4   9071159645    Bergevain,Clay Gregory      6     10      6    109.5
5   9072568562               Blanch,Matt     10     10     10    118.0
6   9071753595           Bouse,Bridgette      6      5     10    145.0
7   9071525589           Bruckschen,Eric     10      2      6    122.5
8   9070752069               Case,Philip      8      3      6    100.5
9   9072600449              Coghlan,Erin     10     10     10    124.0
10  9078297877  Donsimoni,Laetitia Marie      9     10     10     88.5
11  9070798021         Garrison,Madeline     10      7     10     99.0
12  9072592034               Grujo,Sanja     10     10     10     99.5
13  9071901210               Hauge,Tyler     10      4     10    129.0
14  9072093298               Hepp,Nicole     10     10     10    128.0
15  9073426810              Hilkert,Eric     10     10     10    109.5
16  9070808531             Kuether,Laine     10      4     10    103.0
17  9071751672         Levy,Matthew Adam     10      4     10    113.5
18  9071350707     Longo,Madeline Claire     10      7     10    100.0
19  9071903182      Mazzara,Jordan Wilke     10     10     10     66.0
20  9071445259              Millard,Joey     10      4     10    106.5
21  9072604060         Nichol,Mark Kevin      8      4     10    140.0
22  9071374996          Nicholson,Calvin      8      5     10    131.5
23  9070397238          Nickels,Benjamin      6     10      5    100.0
24  9079190642             Qian,Chaoyang     10      7      6    130.0
25  9073718547            Reines,Maxwell      7     10     10    102.0
26  9078285468        Ros Callejo,Myriam      8      5     10    117.0
27  9078207603        Sabin Ulloa,Carlos     10      5     10    112.0
28  9071461926            Sauer,Mitchell     10     10      6    141.5
29  9072605414             Stocking,Ryan     10      6     10    110.0
30  9071441308             Stuber,Lauren     10     10     10    100.5
31  9070893319              Tracey,Miles      9      6     10     92.0
32  9069945435           Vandenack,Brett     10      4      6    117.0

In [11]:
edu2.describe()

           CampusID      Quiz1      Quiz2      Quiz3     Midterm
count  3.300000e+01  33.000000  33.000000  33.000000   33.000000
mean   9.072531e+09   9.181818   7.121212   9.121212  112.681818
std    2.444964e+06   1.333570   2.869643   1.727671   17.268477
min    9.069931e+09   6.000000   2.000000   5.000000   66.000000
25%    9.071160e+09   8.000000   4.000000  10.000000  100.500000
50%    9.071752e+09  10.000000   7.000000  10.000000  112.000000
75%    9.072604e+09  10.000000  10.000000  10.000000  124.000000
max    9.079191e+09  10.000000  10.000000  10.000000  145.000000

In [12]:
edu2['Midterm'].describe()

count     33.000000
mean     112.681818
std       17.268477
min       66.000000
25%      100.500000
50%      112.000000
75%      124.000000
max      145.000000
Name: Midterm, dtype: float64

In [13]:
edu2.at[11, 'Midterm'] = 105

In [14]:
edu2['Midterm'].describe()

count     33.000000
mean     112.863636
std       17.151108
min       66.000000
25%      100.500000
50%      112.000000
75%      124.000000
max      145.000000
Name: Midterm, dtype: float64

In [15]:
edu2

      CampusID                      Name  Quiz1  Quiz2  Quiz3  Midterm
0   9071571039           Aronson,Zachary     10     10     10    115.0
1   9069931419            Austin,Patrick      8      3     10    112.0
2   9074004962            Bachman,Connor     10     10     10    140.0
3   9071159421             Baker,Kathryn     10     10     10     96.0
4   9071159645    Bergevain,Clay Gregory      6     10      6    109.5
5   9072568562               Blanch,Matt     10     10     10    118.0
6   9071753595           Bouse,Bridgette      6      5     10    145.0
7   9071525589           Bruckschen,Eric     10      2      6    122.5
8   9070752069               Case,Philip      8      3      6    100.5
9   9072600449              Coghlan,Erin     10     10     10    124.0
10  9078297877  Donsimoni,Laetitia Marie      9     10     10     88.5
11  9070798021         Garrison,Madeline     10      7     10    105.0
12  9072592034               Grujo,Sanja     10     10     10     99.5
13  9071901210               Hauge,Tyler     10      4     10    129.0
14  9072093298               Hepp,Nicole     10     10     10    128.0
15  9073426810              Hilkert,Eric     10     10     10    109.5
16  9070808531             Kuether,Laine     10      4     10    103.0
17  9071751672         Levy,Matthew Adam     10      4     10    113.5
18  9071350707     Longo,Madeline Claire     10      7     10    100.0
19  9071903182      Mazzara,Jordan Wilke     10     10     10     66.0
20  9071445259              Millard,Joey     10      4     10    106.5
21  9072604060         Nichol,Mark Kevin      8      4     10    140.0
22  9071374996          Nicholson,Calvin      8      5     10    131.5
23  9070397238          Nickels,Benjamin      6     10      5    100.0
24  9079190642             Qian,Chaoyang     10      7      6    130.0
25  9073718547            Reines,Maxwell      7     10     10    102.0
26  9078285468        Ros Callejo,Myriam      8      5     10    117.0
27  9078207603        Sabin Ulloa,Carlos     10      5     10    112.0
28  9071461926            Sauer,Mitchell     10     10      6    141.5
29  9072605414             Stocking,Ryan     10      6     10    110.0
30  9071441308             Stuber,Lauren     10     10     10    100.5
31  9070893319              Tracey,Miles      9      6     10     92.0
32  9069945435           Vandenack,Brett     10      4      6    117.0

In [16]:
edu['Midterm'] >= 125

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23    False
24     True
25    False
26    False
27    False
28     True
29    False
30    False
31    False
32    False
Name: Midterm, dtype: bool